*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

li{
    margin-bottom: 5px;
}
.wrapper{
    overflow: hidden;
    background-color: #efefef;
}
/*--*/
.container{
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.header{
}
.title{
    text-align: center;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 20px;
}
.title__button{
    background-color: transparent;
    color: #000000;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 7px;
    cursor: pointer;
    z-index: 2;
}
.menu{
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

@media ( max-width: 540px) {
    .menu {
        display: none;
    }
}
@media ( max-width: 465px ) {
    .title__button {
        font-size: 35px;
        font-weight: 500;
        letter-spacing: 2px;
    }
}


/*---бургер меню---*/
.menu-burger {
    display: none;
}
.menu-burger input {
    margin-bottom: 30px;
}

@media ( max-width: 540px) {
    .menu-burger {
        display: inline;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .menu-burger input {
        width: 40px;
        height: 40px;
    }

}
.menu-burger__slide {
    position: absolute;
    width: 235px;
    height: 100vh;
    background-color: #bebebe;
    opacity: 0.97;
    top: 160px;
    right: 500px;
    transition: 0.3s;
    padding-left: 10px;
    z-index: -2;
}
.menu-burger__slide > form  {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
}
.menu-burger__slide  form  button {
    text-align: start;
}

.active {
    right: 45%;
    transition: 0.3s;
    z-index: 2;
}



.about-me-table{
    max-width: 1140px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about-me-table__photo{
    object-fit: cover;
    height: 550px;
}
.about-me-table__photo img {
    height: inherit;
}
.about-me-table__text{
    width: 450px;
}
.about-me-table__text_title{
    text-align: center;
}
.about-me-table__text_subtitle{
    padding-top: 30px;
    text-align: center;
}
@media (max-width: 465px){
    .about-me-table__text {
        width: 350px;
    }
    .about-me-table__photo{
        height: 350px;
        display: flex;
        justify-content: center;
    }
}
.publication-table__title{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 25px;
}
.h4{
    width: 110px;
    height: 23px;
    margin: 0px 35px 0px 35px;
    font-size: 18px;
    color: #000;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.h4:hover{
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
}
.project-container{
    margin: 5px auto 5px auto;
    width: 1125px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}
.table{
    min-height: 300px;
    width: inherit;
    height: 750px;
    transition: 0.5s;
    padding: 5px;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 15px;
    
}
.project-table__img{
    width: 550px;
    height: 370px;
    object-fit: contain;
}
.project-table__img:hover{
}
.project-table__btn{
    border: none;
    background-color: transparent;
}
/*--------------------*/
#tuk{
    background-color: rgb(99, 99, 99);
    width: 100px;
    height: 40px;
    border-radius: 3px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tuk:hover{
    cursor: pointer;
}
#checkbox{
    display: none;
}
#checkbox:checked ~ #tuk {
}
#checkbox:checked ~ .table {
    height: auto;
    transition: 0.5s;
}
/*--------------------*/
@media (max-width: 1300px){
    .project-container{
        width: 600px;
    }
}
@media (max-width: 600px){
    .table{
        height: 437px;
    }
    .project-table__img{
        width: 320px;
        height: 213.3px;
    }
    .project-container{
        width: 350px;
    }
}
.price-table{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding-left: 30px;
}
.price-blok{
    max-width: 400px;
    padding: 0px 30px 30px 0px;
}
.price-blok__title{
    font-size: 18px;
    font-weight: 600;
}
.publication-table{
    padding-left: 30px;
}
.publication__link{
    height: 21px;
    text-decoration: none;
    color: #000;
    font-size:14px;
}
.publication__link:hover{
    border-bottom: 2px solid rgb(0, 0, 0, 0.5);
}
.contacts-table{
    text-align: center;
    font-size: 18px;
    line-height: 35px;
}
.contacts-table > a {
    text-decoration: none;
    color: #000;
}
.footer{
    padding-top: 50px;
    padding-bottom: 50px;
}
.messenger{
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.icons{
    margin: 0px 35px 0px 35px;
}


@media (max-width: 1000px){
    .about-me-table__text{
        }
}
@media (max-width: 882px){
    .about-me-table{
        flex-wrap: wrap-reverse;
        justify-content: center;
        }
    .about-me-table__text{
    }
    .about-me-table__photo{
        object-fit: cover;
        width: 420px;
    }
}
@media (max-width: 560px){
    .about-me-table__photo{
        object-fit: cover;
        width: 310px;
    }
}


/*--- project ---*/

.card-project{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-project__atribut{
    padding-top: 30px;
    width: 400px;
}
.card-project__atribut > div{
    width: inherit;
    text-align: left;
}
.card-project__photographer{
    min-height: 0px;
}
@media (max-width: 430px){
    .card-project__atribut {
        width: 310px;
    }
}


/*-slider-*/
.card-project__wrapper-photo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    position: relative;
    width: 800px;
    height: 534px;
    overflow: hidden;
    background-color: transparent;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.slide__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide__active {
    opacity: 1;
}

.btn_block {
    width: 25px;
    margin: 10px;
}

.btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.3);
    color: #000;
}

.none {
    display: none;
}


@media (max-width: 900px){
    .slider {
        width: 600px;
        height: 400px;
    }
}
@media (max-width: 680px){
    .slider {
        width: 400px;
        height: 266px;
    }
}
@media (max-width: 480px){
    .slider {
        width: 280px;
        height: 186px;
    }
}
@media (max-width: 325px){
    .slider {
        width: 240px;
        height: 160px;
    }
}

